
.shop-button {
  color: #7a1c44;
  font-size: 1rem;
  border: none;
  padding: 0.2rem 3.125rem;
  cursor: pointer;
  margin-top: 0.625rem;
  background-color: transparent;
  border: 0.0625rem solid #7a1c44;

}

.shop-button p {
  font-family: var(--font-family-roman);
  color: var(--cta-text);
}

.shop-button:hover {
  background-color: #7a1c44;

}

.shop-button:hover p {
  color: white;
}

/* Styling for sideopdelingslinks */
.pagination {
  display: flex;
  justify-content: center;
}

.search-bar {
  padding-bottom: 100px;
}
.item_price{
  font-weight: 400 !important;
  color:#7a1c44 !important;
}
.price {
  color:#7a1c44;
}
/* tekst - brand, pris  */
.item-info {
  padding: 10px;
  text-align: center;
  padding-bottom: 30px;
}

/* stil for prisen */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  /* Mellemrum mellem elementer */
  margin: 0 auto;
  max-width: 1500px;
  padding: 40px;
}
.soldout {
  font-family: var(--font-family-roman);
  color: #7a1c44;
}

.grid-item {
  text-align: center;
  padding: 10px;
  background-color: var(--background-color);
}


.page-link {
  padding: 0.5rem 1.2rem;
  /* 8px 12px */
  margin: 0 0.5rem;
  /* 5px */
  text-decoration: none;
  color: var(--cta-color);
  border: 0.0625rem solid #ddd;
  /* 1px */
  cursor: pointer;
  border-radius: 0.5rem;
  /* 5px */
  transition: background-color 0.3s, color 0.3s;
}

#articles-container {
  padding-top: 20px;
}
.search input[type="text"] {
  color: #7a1c44; /* Ændrer tekstfarven til ønsket farve */
}
.page-link:hover {
  background-color: var(--cta-hover);
  border: 1.5px solid #7a1c44; /* Tilføj en border ved hover */
  text-decoration: none;
}

.page-link.active {
  background-color: transparent;
  border: #7a1c44;
  border: 1.5px solid #7a1c44;
  color: #7a1c44;
}

.image {

  width: 250px;
  /* Sætter bredden til at matche kolonnen */
  height: 350px;
  position: relative;
}

@media screen and (min-width: 767px) {

  /* produktinformation i desktop */
  .item-info {
    margin-top: 20px;
  }


  .grid-container {
    max-width: 1500px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tre kolonner med samme bredde */
    justify-content: center;
    /* Centrer indholdet vandret */
    align-items: start;
    /* Juster indholdet til toppen af containeren */
    gap: 20px;
    /* Mellemrum mellem elementer */
    margin: 0 auto;
  }


  .image {
    width: 400px;
    /* Sætter bredden til at matche kolonnen */
    height: 650px;
    position: relative;
  }

  .grid-item {
    text-align: center;
    padding: 10px;
    background-color: var(--background-color);
  }





}